<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Detalles del Item</title>
    <style>
        body {
            background: rgb(52,86,50);
            background: radial-gradient(circle, rgba(52,86,50,1) 0%, rgba(60,93,53,1) 45%, rgba(122,173,115,1) 100%);
        }
        .card {
            margin: 0 auto; /* Centrar el card */
            float: none;
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="card bg-light mb-3" style="max-width: 50rem;">
            <div class="card-header">
                Detalles del Item
            </div>
            <div class="card-body">
                <h1 class="mb-4"><%= item.name %></h1>
                <p><strong>Descripción:</strong> <%= item.description %></p>
                <p><strong>Precio:</strong> $<%= item.price %></p>
                <a href="/" class="btn btn-secondary">Volver</a>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
